.headerMain {

    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.icon {
    background: transparent url('../../assets/header/header-icon.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 194px;
    height: 25px;
    position: absolute;
    top: 27px;
    left: 60px;
}
.mobileicon{
    display: none;
}

@media (max-width:480px) {
    .headerMain{
        position: fixed;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
    }
    .mobileicon{
        display: block;
        background: transparent url('../../assets/menu.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 21px;
    height: 17px;
    }
    
}