.main {
    position: absolute;
    top: 124%;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 8%;
}

.companyGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
    row-gap: 2px;
}

.title {
    text-align: left;
    font: normal normal bold 40px/50px Lato;
    letter-spacing: 0px;
    color: #28334E;
    opacity: 1;
}

.img1 {
    background: transparent url('../../assets/companyicons/1.svg') 0% 0% no-repeat padding-box;

    opacity: 1;
    width: 187px;
    height: 169px;
}

.img2 {
    background: transparent url('../../assets/companyicons/2.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 187px;
    height: 169px;
}

.img3 {
    background: transparent url('../../assets/companyicons/3.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 187px;
    height: 169px;
}

.img4 {
    background: transparent url('../../assets/companyicons/4.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 187px;
    height: 169px;
}

.img5 {
    background: transparent url('../../assets/companyicons/5.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 187px;
    height: 169px;
}

.img6 {
    background: transparent url('../../assets/companyicons/6.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 187px;
    height: 169px;
}

@media (max-width:480px) {
    .main {
        position: static;
        padding-top: 10%;
    }

    .companyGrid {
        grid-template-columns: 1fr 1fr;
    }

}